@model WNWN.ViewModels.AddIngredientsViewModel;

<h1>Add Ingredient</h1>

<form asp-controller="Ingredients" asp-action="Add" method="post">
@*    <div class="form-group">
        <label asp-for="ContactEmail">Contact Email</label>
        <input asp-for="ContactEmail" />
    </div>*@
    <div class="form-group">
        <label asp-for="Name">Ingredient</label>
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>
    <div class="form-group">
        <label asp-for="Group">Food Group</label>
        <input asp-for="Group" />
        <select asp-validation-for="Group" asp-items="Model.Groups"></select>
    </div>
    <div class="form-group">
        <label asp-for="Weight">Weight</label>
        <input asp-for="Weight" />
    </div>
    <div class="form-group">
        <input asp-for="ExpirationDate" />
        <label asp-for="ExpirationDate">Expiration Date</label>
        <span asp-validation-for="ExpirationDate"></span>
    </div>
    <input type="submit" value="Add Ingredient" />
</form>