@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model List<WNWN.Models.Ingredients>
@{
    ViewData["Title"] = "Home Page";
}
@if (SignInManager.IsSignedIn(User))
{
    <!DOCTYPE html>
    <html>
    <head>
        <style>
            body {
                background-color: teal;
            }

            h1 {
                color: black;
            }

            p {
                color: black;
            }
        </style>
    </head>
    <body>
        <h1>Ingredient List</h1>

        <p>
            <a asp-controller="Ingredients" asp-action="Add">Add Ingredient</a>
        </p>

        <p>
            <a asp-controller="Ingredients" asp-action="Delete">Delete Ingredient</a>
        </p>

    </body>
</html>
}
else
{
<p>Log in to access your digital pantry. New? Our Register button is up above. All you need is a kitchen scale, your kitchens ingredients, and their expiration dates to keep track of your food to prevent waste.</p>
}
