@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model List<WNWN.Models.Ingredients>
@{
    ViewData["Title"] = "Home Page";
}
<style>
    body {
        background-color: rgb(222,234,237);
    }

    h1 {
        color: black;
    }

    p {
        color: black;
    }
</style>
@if (SignInManager.IsSignedIn(User))
{
    <!DOCTYPE html>
    <html>
    <head>
    </head>
    <body>
        <br><br><br>

        <p>
            <a asp-controller="Ingredients" asp-action="Add">Add Ingredient</a>
        </p>

        <p>
            <a asp-controller="Ingredients" asp-action="Delete">Delete Ingredient</a>
        </p>
    </body>
</html>
}
else
{
<br><br><p>Log in to access your digital pantry. New? Our Register button is up above. All you need is a kitchen scale, your kitchens ingredients, and their expiration dates to keep track of your food to prevent waste.</p>
}
