@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            background-color: black;
        }

        h1 {
            color: grey;
        }

        p {
            color: grey;
        }

    </style>
</head>
<body>
    <p>This project is open source. Don't sue me. I am a poor peasant with nothing to give but my time. No seriously, if you sue me then you won't get anything out of me. Even if you garnish my meager wages then I'll just move off grid and go full hobo. I've already joined a Discord to live in a commune. </p>
</body>
</html>
