@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model NoIngredients
@*@{
    ViewData["Title"] = "Home Page";
}*@

@if (SignInManager.IsSignedIn(User))
{
    <!DOCTYPE html>
    <html>
    <head>
    </head>
    <body>
        <br>
        <form asp-controller="Planner" asp-action="Index">
            <h3>Please Select Foods You Do Not Wish To Eat.</h3>
            <div>
                @foreach (var option in Model.OptionList)       @*locks up here*@
                {
                    <label><input type="checkbox"> @option</label><br>
                }
            </div>

        @*<div id="options">
            @foreach (var option in Model.OptionList)
            {
                <a asp-controller="Planner" asp-action="Index" asp-route-id="@option.Id">@option.Name</a>
            }
        </div>*@

        </form>
    </body>
    </html>
 }
 else
 {
     <br>
     <br><p>Log in to access your digital pantry. New? Our Register button is up above. All you need is a kitchen scale, your kitchens ingredients, and their expiration dates to keep track of your food to prevent waste.</p>
 }

